<html>
<head>
<script src="/assets/jquery.min.js"></script>

<script src="/assets/jquery.jexcel.js"></script>
<script src="/assets/cytoscape.min.js"></script>
<script src="/assets/jquery.qtip.js"></script>
<script src="/assets/cytoscape-qtip.js"></script>
<script src="/assets/cytoscape-cose-bilkent.js"></script>

<link rel="stylesheet" href="/assets/main.css" type="text/css" />
<link rel="stylesheet" href="/assets/jquery.qtip.css" type="text/css" />
<link rel="stylesheet" href="/assets/jquery.jexcel.min.css" type="text/css" />

<style>
    



#hero-logo h5{
  margin-bottom: 4em;

}
#hero-logo h1{
  font-size:4rem;
}
.hero-body .box{
  min-height: 165px;
}

</style>
</head>



<section class="hero is-light is-fullheight is-bold">
  <div class="hero-body">
    <div class="container" id="hero-logo">

      <div class="has-text-centered has-text-weight-bold">
        <h1>


            Triple Builder

        </h1>
        <h5>A tool by <a class="has-text-link" href="http://semlab.io">Semantic Labs</a></h5>
      </div>


      <div class="columns">
   

        <div class="column is-half">

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="/assets/triple_green.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="hero-block-text">
                    <strong>Create a Subset</strong>
                    <br>
                    A RDF sandbox where you can build triples solo and share later.

                  </p>
                  <a href="/newsubset"  class="button is-success is-fullwidth">Start Building</a>
                </div>
                
              </div>
            </article>
          </div>




        </div>
        <div class="column">

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="/assets/triple_red.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="hero-block-text">
                    <strong>Collaborate (still in development)</strong>
                    <br>
                    Create or join a "Room" where you and others build a shared graph together.

                  </p>
                  <a disabled class="button is-danger is-fullwidth">Create / Join</a>
                </div>
                
              </div>
            </article>
          </div>



        </div>


      </div>



    </div>
  </div>
</section>


<div id="content">
    

</div>








<script>

</script>
</html>